<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Price:</strong>
  <%= @movie.price %>
</p>

<div class="row">
  <div class="small-2 large-2 columns">
    <%= imdb_style_rating_for @movie, current_user%>
  </div>
  <br>
  <div class="small-2 large-4 columns">
    <% if current_user %>
     
      <% if current_user %>
      Visual Effects: <%= rating_for @movie, "visual_effects" %>
      <br>
      Original Score: <%= rating_for @movie, "original_score" %>
      <br>
      Director: <%= rating_for @movie, "original_score" %>
      <br>
    <% end %>
      <br>

 
    <% end %>
  </div>
  <div id="rea"></div>
  <div id="nrea"></div>
</div>
</div>



<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
